@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

.signupAcct {
    text-align: center;
    padding-bottom: 5%
}

.signup {
    text-align: center;
}

#signupBttn {
    margin: 0 auto;
    display: block;
    margin-top: 5%
}

#loginBttn {
    margin: 0 auto;
    display: block;
    margin-top: 5%
}

#suLnk {
    text-align: center;
}

.homeMenu {
    text-align: center;
    padding: 2%;
}

.legs {
    text-align: center;
}

#pic {
    margin-left: 50%;
    margin-top: -12%;
}

#about {
    margin-right: 55%;
}
 
#test {
    border: 1px solid;
    border-color: green;
}

